/* Generals */
@font-face{
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@keyframes flip{
    0%{
        transform: rotateY(90deg);
    }
}
@keyframes unfade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
:root{
    /* Fonts */
    --main-font: Roboto, Arial, Helvetica, sans-serif;
    --brand-font: Pacifico, 'Times New Roman';

    /* Font colors */
    --brand-color: #990000;
    --brand-color-2: #5c0000;
    --main-color: white;
    --info-color: #009900;
}
body{
    font-family: var(--main-font);
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    right: 0;
    left: 0;
}
li{
    display: inline;
    margin-left: 20px;
}
a{
    position: relative;
    text-decoration: none;
    color: var(--main-color);
}
a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
a:hover::before, a:active::before{
    transform: scaleX(1);
}
h1{
    font-size: 5rem;
    grid-column: 2;
    grid-row: 2;
    place-self: center;
    color: var(--main-color);
    font-family: var(--brand-font);
    animation: flip 2s;
    text-align: center;
}
h2{
    font: 2.2rem var(--brand-font);
}
h3{
    font: 1.8rem var(--brand-font);
}

/* Navigation bar */
nav{
    padding: 0;
    margin: 0;
    background-color: var(--brand-color);
    border: solid 1px black;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0 1% 0;
    animation: unfade 0.5s 1s backwards;
    transition: top 0.3s;
}
nav ul{
    margin-right: 55px;
}
#brand-logo{
    justify-self: left;
    font-family: var(--brand-font);
    font: 1.6rem var(--brand-font);
    font-weight: bold;
    color: var(--main-color);
    margin-left: 50px;
}
@media screen and (max-width: 600px){
    #brand-logo, nav ul{
        margin: 0;
        padding: 0;
    }
    nav{
        height: 75px;
        flex-direction: column;
        padding: 10px 0 25px 0;
    }
    #brand-logo{
        margin-bottom: 10px;
    }
    nav ul{
        margin-right: 20px;
    }
}

/* Landing section */
#landing{
    height: 100vh;
    width: 100%;
    background-image: url('../images/pizza-2810589_1920.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template: 20% 40% 40% / 15% 70% 15%;
}
#landing div{
    background-color: var(--brand-color);
    border: solid 1px black;
    color: var(--main-color);
    border-radius: 3rem;
    text-align: center;
    width: auto;
    height: min-content;
    font-weight: bold;
    font-size: 2rem;
    padding: 1% 0 1% 0;
    margin: 10%;
    grid-column: 2;
    grid-row: 3;
    animation: unfade 0.5s 1s backwards;
}
@media screen and (max-width: 600px){
    #landing{
        background-attachment: local;
    }
    #landing div{
        padding: 15px;
    }
}

/* Trattoria's informations section */
article{
    border: solid 1px black;
}
article h2{
    font-weight: bold;
    grid-row: 1;
    justify-self: center;
}
#informations{
    width: 100%;
}

/* Menu article */
#menu{
    background-color: white;
    display: grid;
    grid-template: 10% 90% / 1/3 1/3 1/3;
    column-gap: 20px;
    padding: 0 20px 100px 20px;
}
#menu h2{
    color: var(--info-color);
    grid-column: span 3;
}
.dish-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dish-type img{
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}
.dish{
    width: 100%;
    text-align: justify;
    margin-top: 10px;
}
.dish-type h3{
    color: var(--info-color);
}
@media screen and (max-width: 600px){
    #menu{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    #menu h2{
        text-align: center;
    }
    #menu h2, #menu h3{
        margin-bottom: 0;
    }
}

/* Services article */
#services{
    background-color: var(--brand-color);
    color: var(--main-color);
    display: grid;
    row-gap: 20px;
    justify-content: center;
    align-content: center;
    grid-template: 10% 30% 30% 30% / 50% 50%;
    padding-bottom: 50px;
}
#services h2{
    grid-column: span 2;
    margin-top: 50px;
}
.services-element{
    width: 450px;
    height: 300px;
    background-color: var(--brand-color-2);
    justify-self: center;
    text-align: center;
}
div.services-element{
    border: solid 2px #490000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-element:nth-child(2){
    grid-column: 2;
    grid-row: 3;
}
.services-element:nth-child(3){
    grid-column: 1;
    grid-row: 3;
}
@media screen and (max-width: 600px){
    #services{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0;
        padding: 0 20px 0 20px;
    }
    #services h2{
        margin: 25px;
    }
    .services-element{
        width: 100%;
        height: auto;
    }
    div.services-element{
        margin-bottom: 40px;
    }
}

/* Contact article */
#contact{
    background-color: white;
    color: var(--info-color);
    display: grid;
    gap: 20px 50px;
    grid-template-columns: 40% 60%;
    padding: 0 50px 50px 50px;
}
#contact a{
    color: var(--info-color);
}
#contact a::before{
    background-color: var(--info-color);
}
#contact div{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    justify-content: space-around;
}
#contact > iframe{
    grid-column: 2;
    width: 600px;
    height: 470px;
}
#contact h2{
    grid-column: span 2;
}
.icon{
    stroke: unset;
    stroke-width: 0px;
    fill: currentColor;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: -0.15em;
}
@media screen and (max-width: 600px){
    #contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px 50px 20px;
    }
    #contact > iframe{
        width: 100%;
        margin-top: -20px;
    }
    #contact h2{
        text-align: center;
        margin-bottom: 20px;
    }
    #contact span{
        margin-bottom: 40px;
    }
}

/* Footer */
footer{
    background-color: var(--brand-color);
    font: 1.5rem var(--brand-font);
    font-weight: bold;
    color: var(--main-color);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}